{% extends "baseadmin.html.twig" %}
{% block body %}
    <h3 class="mt-2">Gestion des playlists</h3>

    <a class="btn btn-outline-success" href="{{path("admin.playlists.pagecreationplaylist")}}">Ajouter une playlist</a>


    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-left align-top" scope="col">
                    playlist<br />
                    <a href="{{ path('admin.playlists.sortgestion', {champ:'name', ordre:'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('admin.playlists.sortgestion', {champ:'name', ordre:'DESC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>
                    <form class="form-inline mt-1" method="POST" action="{{ path('admin.playlists.findallcontaingestion', {champ:'name'}) }}">
                        <div class="form-group mr-1 mb-2">
                            <input type="text" class="sm" name="recherche" 
                                   value="{% if valeur|default and not table|default %}{{ valeur }}{% endif %}">
                            <input type="hidden" name="_token" value="{{ csrf_token('filtre_playlist') }}">
                            
                            <button type="submit" class="btn btn-info mb-2 btn-sm">filtrer</button>
                        </div>
                    </form>                    
                </th>
                <th class="text-left align-top" scope="col">
                    catégories
                    <form class="form-inline mt-1" method="POST" action="{{ path('admin.playlists.findallcontainintablegestion', {champ:'id', table:'categories'}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('filtre_catégorie') }}">
                        <select class="form-select form-select-sm" name="recherche" id="recherche" onchange="this.form.submit()">
                            <option value=""></option>
                            {% for categorie in categories %}
                                <option 
                                    {% if valeur|default and valeur==categorie.id %} 
                                        selected
                                    {% endif %} 
                                    value="{{ categorie.id }}">{{ categorie.name }}
                                </option>
                            {% endfor %}
                        </select>                    
                    </form>            
                </th>
                <th class="text-center align-top" scope="col">
                    &nbsp;
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- boucle sur les playlists -->
            {% set ancplaylist = '' %}
{% for k in 0..playlists|length-1 %}
    <tr class="align-middle">
        <td>
            <h5 class="text-info">
                {{ playlists[k].name }}
            </h5>
        </td>
        <td class="text-left">
            {% set categories = playlists[k].categoriesplaylist %}
                {% if categories|length > 0 %}
                    {% for c in 0..categories|length-1 %}
                        &nbsp;{{ categories[c] }}
                    {% endfor %}
                {% endif %}
        </td>
        <td>
            {{ playlists[k].formations|length }}
        </td>
        <td class="text-center">
            <a href="{{ path('admin.playlists.pagemodifplaylist', {id:playlists[k].id}) }}" class="btn
            btn-outline-primary">Modifier</a>
        </td>
        <td class="text-center">
            <a 
            href="{{ path('admin.playlists.deleteplaylist', {idplaylist:playlists[k].id}) }}" 
            class="btn btn-outline-danger {% if playlists[k].formations|length is not same as(0)%}disabled{% endif %}"
            onClick="return confirm('Voulez-vous vraiment supprimer cette playlist ?');"
            >Supprimer</a>
        </td>
    </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock %}
